doctype html
html
  head
    link(href='styling.css', rel='stylesheet')
  body
    h1 Form for creating new posts will be here!
    form
      input(type='text', value='type something here')
      input(type='text', value='type something here')
      input(type='text', value='type something here')

    a(href='/') Click Here
